{% extends 'onlinebank/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="article">
    <h3>New bank transfer</h3>
    <form method="POST" class="pure-form">{% csrf_token %}
        <div>
        <table>
        {{ form.as_p }}
         </table>
        </div>
        <button type="submit" class="pure-button" id="btn-send-transfer">Send transfer</button>
    </form>
</div>
{% else %}
<div class="article">
    <h3>User not logged in</h3>
    <p>Please log in first</p>
</div>
{% endif %}

{% endblock %}